<md-content flex="95">
  <div class="col-sm-4 col-lg-4" ng-repeat="db in databases">
    
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4>{{db.db_name}}</h4>
        <span flex></span>
      </div>
    </md-toolbar>

    <div class="panel panel-default bootcards-summary">
      <div class="panel-body">
        
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-lg-4 col-md-6 thumbnail">
            <div class="bootcards-summary-item" ui-sref="home.collection({database : db.db_name})" data-pjax="#main"
            data-title="Contacts" style="padding-top:35px;">
              <h4>
                {{db.stats.collections}} Collections
              </h4>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-lg-4 col-md-6 thumbnail">
            <div class="bootcards-summary-item" href="/companies" data-pjax="#main"
            data-title="Companies" style="padding-top:35px;">
              <h4>
                {{db.stats.size}}
              </h4>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-lg-4 col-md-6 thumbnail">
            <div class="bootcards-summary-item" href="/notes" data-pjax="#main"
            data-title="Notes" style="padding-top:35px;">
              <h4 ng-show="db.stats.verified">
                Verified
              </h4>
              <h4 ng-hide="db.stats.verified">
                Not Verified
              </h4>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <md-button class="md-fab md-warn md-raised md-hue-2 md-mini" ng-click="deleteDb(db.db_name)" aria-label="Delete">
            <md-icon>delete</md-icon>
        </md-button>
        <md-button class="md-fab md-primary md-mini" aria-label="Edit">
            <md-icon>mode_edit</md-icon>
        </md-button>
        <md-button class="md-fab md-primary md-mini" aria-label="Download">
            <md-icon>get_app</md-icon>
        </md-button>
      </div>  

    </div>
  </div>
</md-content>

<add-action call-ctrl-method="showDailogForDb()"></add-action>

