<side-nav add-click-method="showDailogForDb()"></side-nav>
<md-content flex="100">
  <div class="col-sm-4 col-lg-4" ng-repeat="db in databases">
    
    <md-toolbar style="border-top-left-radius:4px; border-top-right-radius:4px;">
      <div class="md-toolbar-tools">
        <h4>{{db.database}}</h4>
        <span flex></span>
      </div>
    </md-toolbar>

    <div class="panel panel-default bootcards-summary" 
        style="border-top-left-radius:0px; border-top-right-radius:0px; margin-top:-1px;">
      <div class="panel-body">
        
      <div>
        <div>

         <ul ng-if="!db.stats.count" class="buckets layout-wrap layout-align-center-center layout-row" layout="" layout-align="center center" layout-wrap="">
            <li flex="100"
             class="ng-scope flex-gt-md-100 flex-100">
                  <a class="md-primary md-raised md-button md-ink-ripple" ng-click="viewCollections($parent.$index)">
                    Loading statistics...
                  </span><div class="md-ripple-container"></div></a>
            </li>
          </ul>
          <ul flex="100" class="buckets layout-wrap layout-align-center-center layout-row" layout="" layout-align="center center" layout-wrap="">
            <li flex="30" flex-gt-md="30" ng-repeat="colval in db.stats"
             class="ng-scope flex-gt-md-30 flex-30">
                <a class="md-primary md-raised md-button md-ink-ripple" ng-click="viewCollections($parent.$index)">
                  {{colval.val}}
                  <md-icon>{{colval.icon}}</md-icon>
                  <div class="md-ripple-container"></div>
                </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
      <div ng-show="!db.processing" style="height:5px;"></div>
      <md-progress-linear md-mode="indeterminate" ng-show="db.processing"></md-progress-linear>

      <div class="panel-footer">
        <md-button class="md-fab md-warn md-raised md-hue-2 md-mini" ng-click="deleteDb(db.database,$index)" aria-label="Delete">
            <md-icon>delete</md-icon>
        </md-button>
        <md-button class="md-fab md-primary md-mini" ng-click="download(db.database)" aria-label="Download">
            <md-icon>get_app</md-icon>
        </md-button>
      </div>  

    </div>
  </div>
</md-content>

