<side-nav add-click-method="addCollection()"></side-nav>
<md-content flex="100">
  <div class="col-sm-4 col-lg-4" ng-repeat="col in collections">
    
    <md-toolbar style="border-top-left-radius:4px; border-top-right-radius:4px;">
      <div class="md-toolbar-tools">
        <h4>{{col.collection_name}}</h4>
        <span flex></span>
      </div>
    </md-toolbar>

    <div class="panel panel-default bootcards-summary"
        style="border-top-left-radius:0px; border-top-right-radius:0px; margin-top:-1px;">

      <div class="panel-body">
        <div>

         <ul ng-if="!col.stats.count" class="buckets layout-wrap layout-align-center-center layout-row" layout="" layout-align="center center" layout-wrap="">
            <li flex="100"
             class="ng-scope flex-gt-md-100 flex-100">
                  <a class="md-primary md-raised md-button md-ink-ripple" aria-label="Getting Started" ng-click="viewDocs($parent.$index)">
                    Loading statistics...
                  </span><div class="md-ripple-container"></div></a>
            </li>
          </ul>
          <ul class="buckets layout-wrap layout-align-center-center layout-row" layout="" layout-align="center center" layout-wrap="">
            <li flex="50" flex-gt-md="50" ng-repeat="colval in col.stats"
             class="ng-scope flex-gt-md-50 flex-50">
                  <a class="md-primary md-raised md-button md-ink-ripple" ng-click="viewDocs($parent.$index)">
                    {{colval.val}}
                  <md-icon>{{colval.icon}}</md-icon>
                  </span><div class="md-ripple-container"></div></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel-footer">
        <md-button class="md-fab md-warn md-raised md-hue-2 md-mini" ng-click="deleteCollection(col.collection_name)" aria-label="Delete">
            <md-icon>delete</md-icon>
        </md-button>
        <md-button class="md-fab md-primary md-mini" ng-click="download(col.collection_name)" aria-label="Download">
            <md-icon>get_app</md-icon>
        </md-button>
      </div>  

    </div>

  </div>
</md-content>
