<div flex layout="row" layout-align="center center" layout="column" layout-padding ng-cloak>
    <div flex-sm="40" flex-gt-sm="30" flex-gt-md="20" flex-gt-lg="10" class="md-whiteframe-z2">
        <md-content class="md-padding">
            <div flex-sm="50" flex-gt-sm="40" layout-sm="column">
                <form name="loginForm" ng-submit="submit()">
                    
                    <md-input-container class="md-block">
                      <input type="email" ng-model="user.username" placeholder="Enter Email" ng-required="true">
                    </md-input-container>
                    
                    <md-input-container class="md-block">
                        <label>Password:</label>
                        <input type="password" ng-model="user.password" placeholder="Enter Password" required="true">
                    </md-input-container>

                    <md-button class="md-raised md-primary" type="submit">Login</md-button>
                </form>
            </div>
        </md-content>
    </div>
</div>