<div flex layout="row" layout-align="center" style="margin-top: 5%;" layout-padding ng-cloak>
    <div flex="60" class="md-whiteframe-z2">
        <!-- <img src="https://raw.githubusercontent.com/code-pool/Easy-Mongo/master/src/logo.png"> -->
        <div class="easy-client"></div>
        <md-content class="md-padding">
            <div    layout-sm="column">
                <form name="loginForm" ng-submit="submit()">
                    
                    <md-input-container class="md-block">
                      <input type="email" ng-model="user.username" placeholder="Enter Email" ng-required="true">
                    </md-input-container>
                    
                    <md-input-container class="md-block">
                        <input type="password" ng-model="user.password" placeholder="Enter Password" required="true">
                    </md-input-container>

                    <md-button class="md-raised md-primary" type="submit">Login</md-button>
                </form>
            </div>
        </md-content>
    </div>
</div>
