<div flex layout="row" layout-align="center" style="margin-top: 5%;" layout-padding ng-cloak>
    <div flex="60" class="md-whiteframe-z2">
        <img src="https://raw.githubusercontent.com/code-pool/Easy-Mongo/master/src/logo.png">
        <md-content class="md-padding">
            <div    layout-sm="column">
                <form name="loginForm" ng-submit="submit()">
                    
                    <md-input-container class="md-block">
                      <input type="email" ng-model="user.username" placeholder="Enter Email" ng-required="true">
                    </md-input-container>
                    
                    <md-input-container class="md-block">
                        <input type="password" ng-model="user.password" placeholder="Enter Password" required="true">
                    </md-input-container>

                    <md-button class="md-raised md-primary" type="submit">Login</md-button>
                </form>
            </div>
        </md-content>
    </div>
</div>

<!-- <div>
<md-content> -->
<ul class="buckets layout-wrap layout-align-center-center layout-row" layout="" layout-align="center center" layout-wrap="">
      <!-- ngRepeat: (index, link) in [
        { href: './getting-started', icon: 'school', text: 'Getting Started' },
        { href: './demo', icon: 'play_circle_fill', text: 'Demos' },
        { href: './CSS/typography', icon: 'build', text: 'Customization' },
        { href: './api', icon: 'code', text: 'API Reference' }
      ] --><li flex="25" flex-gt-md="15" ng-repeat="(index, link) in [
        { href: './getting-started', icon: 'school', text: 'Getting Started' },
        { href: './demo', icon: 'play_circle_fill', text: 'Demos' },
        { href: './CSS/typography', icon: 'build', text: 'Customization' },
        { href: './api', icon: 'code', text: 'API Reference' }
      ]" class="ng-scope flex-gt-md-15 flex-25">
        <a class="md-primary md-raised md-button md-ink-ripple" ng-transclude="" ng-href="./getting-started" aria-label="Getting Started" href="./getting-started">
          <md-icon class="block ng-scope ng-isolate-scope" aria-hidden="true">edit_mode</md-icon><span class="ng-binding ng-scope">
          Getting Started
        </span><div class="md-ripple-container"></div></a>
      </li>
    </ul>
<!-- </md-content>
</div> -->