<div ng-hide="hide">

  <md-toolbar style="top:0px; position:fixed; " class="md-whiteframe-glow-z1 site-content-toolbar">
    <div clas="md-toolbar-item">
      <md-button class="md-fab md-primary" aria-label="Menu" ng-click="toggleRight()" ng-hide="isOpenRight()">
        <md-icon md-font-library="material-icons">reorder</md-icon>
      </md-button>
      <md-button ng-click="onAddClick()" class="md-fab md-primary" aria-label="Add">
        <md-icon md-font-library="material-icons">add</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">

      <md-toolbar class="md-toolbar-tool">
        <md-button ui-sref="home" class="md-raised md-primary">Home</md-button>
        <md-button ui-sref="login"class="md-raised md-primary">Log out</md-button>
      </md-toolbar>
      
      <md-content>
      <md-list>
        <md-list-item class="md-1-line" ng-repeat="notf in notifications track by $index">
          <div class="md-list-item-text" layout="column" layout-align="space-around">
            <div layout="row">
              <h4>{{notf.msg}}
                <md-icon ng-if="notf.complete" ng-click="removeNotf(notf.key)">check_circle</md-icon>
              </h4>
              <div ng-if="!notf.complete" style="margin-top:10px;">
                <md-progress-circular class="md-hue-2" md-diameter="30px"></md-progress-circular>
              </div>
            </div>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
      </md-content>
       
    </md-sidenav>
  </section>

</div>